.holder {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    display: flex; /* Flexbox enable karna */
    justify-content: center; /* Horizontal center */
    align-items: center; /* Vertical center */
}

.item-1 {
    width: 100px; /* Item-1 ki width */
    height: 100px; /* Item-1 ki height */
    background-color: red; /* Item-1 ka background color */
}